# The folowing works at WDSC7* however later versions may increase or change the root directory structure.
#
# Ignoring these files means they will not be saved/restored by git so that your current settings will not be changed.
#
# ignore the directory .metadata in root which is used by eclipse/WDSC to store settings (display, layout, etc.)
/.metadata
# Ignore the RemoteSystems* directories in root (used by WDSC to store connection and remote file details)
/RemoteSystems*
